.display-container {
    margin: 0 auto;
    padding: 1em 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h2 {
        font-size: 1.5rem;
        color: rgba(128, 76, 21, .8);
    }

    ul {
        list-style-type: none;
        display: flex;
        justify-content: center;
        width: 50vw;
        padding: 1em;
        
        li {
            padding: .75em 1.8em;
            margin-right: 1em;
            background-color: wheat;
            color: rgba(50,50,50,1);
            font-weight: 500;
        }
        li:last-of-type {
            margin-right: 0;
        }

        li:hover {
            cursor: pointer;
            background-color: rgba(50,50,50,1);
            color: wheat;
        }
    }
}

.answer-container {
    margin: 0 auto;
    width: 50vw;
    display: flex;
    justify-content: space-evenly;
    padding: 2em;

    button {
        font-size: .75rem;
        padding: 1em 1em;
        background-color: #F3B431;
        border: none;
        border-radius: 5%;
        text-transform: uppercase;
        font-weight: 500;
        color: rgba(50,50,50,1);
        position: relative;
        top: -10px;
        box-shadow: rgba(50,50,50,.25) 2px 2px 2px;

        &:hover {
            cursor: pointer;
        }
    }
    & > .correct {
        color: green;
    }
    
    & > .wrong {
        color: red;
    }
}