.hero {
    position: relative;
    height: 30vh;
    overflow: hidden;
    border-bottom: 3px solid #804C15;

    &__image {
        object-fit: fill;
    }

    &__title {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        font-size: 2rem;
        color: #F3B431;
        text-align: center;
        text-shadow: 3px 3px 0 rgba(0, 0, 0, .15); 
        text-transform: uppercase;

    }
}